# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Helm packaged charts
*.tgz

# Helm temporary template files
charts/**/templates/*.tmp

# IDEs / editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment files
.env
.env.local